.main-container{
  height: 100vh;
  background-color: blue;
  color: black;
  border: 4px solid black;
}

.header-container{
  border: 2px solid black;
}

.header{
  background-color: antiquewhite;
  padding-left: 2rem;
  font-size: 2rem;
}
