.main-container{
  height: 100vh;
  background-color: blue;
  color: black;
  border: 4px solid black;
}

.header-container{
  border: 2px solid black;
}

.header{
  background-color: antiquewhite;
  padding-left: 2rem;
  font-size: 2rem;
}

.general{
  background-color:bisque;
  border: 2px solid black;
}

.education{
  background-color: aquamarine;
  border: 2px solid black;
}

.main-tasks{
  white-space: pre-line;
}
